node_modules/
.idea/
.env
.env.local
.env.*.local
.DS_Store
dist/
build/
*.log
package-lock.json
yarn.lock
.vscode/
*.swp
*.swo
.DS_Store
db.properties
gestao-clubes-api/src/main/resources/db.properties
gestao-clubes-api/src/main/resources/application-local.properties
uploads/
